/HW2/HW2Project.X/build/
/HW2/HW2Project.X/dist/
/HW3/HW3Project.X/build/
/HW3/HW3Project.X/dist/
/HW5/HW5Project.X/build/
/HW5/HW5Project.X/dist/
/HW6/HW6.X/build/
/HW6/HW6.X/dist/
/HW7/HW7.X/build/
/HW7/HW7.X/dist/
/HW8/HW8.X/build/
/HW8/HW8.X/dist/
/HW10/HW10.X/build/
/HW10/HW10.X/dist/